/*Sections */
.section.column{
    flex-direction: column;
}

.section{
    display: flex;
    gap: 20px;
    padding: 20px;
    color: #658244;
    font-family: Verdana, Geneva, sans-serif;
    align-items: center;
    justify-content: space-between;
}

.section.row {
    flex-direction: row;
}

.activity-section {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 40px;
    border: none;
    border-radius: 10px;
    padding: 20px;
    max-width: 1200px;
    margin: 0 auto;
}

.activity-section.reverse {
    flex-direction: row-reverse;
}

.text-container{
    width: 700px;
    margin-left: 70px;
}




